<h2 class="top-ten__header">Movie</h2>
<ul class="list-group top-ten__list">
      <li class="list-group-item">
        <h4>
          <a href="">Harry Potter and the Sorcerer&#39;s Stone</a>
          <small class="top-ten__creator">by J.K. Rowling</small>
        </h4>
        <p>28 votes</p>
      </li>
</ul>