<main>
  <h2>List of Users</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Votes</th>
        <th>Joined</th>
      </tr>
    </thead>
    <tbody>
    <% if @users.length > 0 %>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.username, user_path(user.id) %>
          <td><%= user.votes.count %></td>
          <td><%= user.created_at.strftime("%b %d, %Y") %></td>
        </tr>
      <%end%>
    </tbody>
    <%else%>
      <p>No user in the system yet!</p>
    <%end%>
  </table>
  <%= link_to 'Back to Media List', root_path, class:"btn btn-secondary" %>
</main>